*{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 24px;
  background-image: url("../public/drms.jpg")
}

h2 {
  font-size: 28px
}

#drum-machine {
  margin: 15px;
  height: 21vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
    width: 100%;
    display: grid;
    padding: 10px;
    grid-gap: 15px;
    margin-top: 40px;
    border-radius: 15px;
    grid-template-columns: 1fr;
    background-image: linear-gradient( to bottom, #d5d7e5, #eee, #d2ccc4, #d5d7e5, #838996);
}

.keyboard {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.keyboard .drum-pad {
  width: 100%;
  height: 80px;
  outline: none;
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #C2C8C5;
  transition: all .3s ease-in-out;
}

@media(min-width: 768px){
  .wrapper {
      width: 680px;
  }
}

@media(min-width: 992px){
  .wrapper {
     grid-template-columns: 1fr 1fr;
  }
}

.control {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.control > button,
.control > input,
.control > h2{
margin-bottom: 10px
}

.control button{
  border: none;
  color: red;
  cursor: pointer;
  font-size: 20px;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #041B2D;
}

.App {
  text-align: center;

}

.App-header {
  background-image: url("../public/drms2.jpg");
  min-height: 35vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0B0742;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.project {

  margin: 0;
  padding-top: 70px;

}
.App-logo {
  height: 3vmin;
  align-items: flex-end;
  justify-content: space-between;
  pointer-events: none;
  border-radius: 50%;
  padding: 0 2px 5px;
  margin-top: 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-link {
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo {
    position: absolute;
    top: 5px;
    right: 15px;
    justify-content: space-between;
}
    .inner-logo {
      display: inline-block;
      font-style: italic;
      font-weight: bold;
      font-size: 25px;
    }
